BOT_TOKEN= # from @botfather
API_ID= # https://my.telegram.org/apps
API_HASH= # https://my.telegram.org/apps
ALARM= # api token from https://alerts.in.ua/
GEMINI_API_KEY= # api token from https://aistudio.google.com/api-keys
PYRO_SESSION=
